---
global:
  # name of the landscape
  name: LFN Landscape
  # shortname
  short_name: LFN
  # repo where this landscape is hosted ( minus the https://github.com part )
  repo: lfnetworking/member_landscape
  # URL to the landscape
  website: https://landscape.lfnetworking.org
  # Short domain name for the landscape (usually this would change 'l' for 'landscape'
  short_domain: landscape.lfnetworking.org
  # Your project's website
  company_url: https://lfnetworking.org
  # General contact email for the landscape
  email: info@lfnetworking.org
  # Crunchbase entry for your project

  self: https://www.crunchbase.com/organization/lf-networking
  # Slack channel for posting build updates
  slack_channel: T02H1G4T9/B01S2SBK81G/iQb9UtQn04EbF0d57xT8vkeM
  meta:
    # Should match name above
    title: Linux Foundation Networking Landscape
    # keep this
    fb_admin: alex.contini.94
    # site description
    description: Filter and sort by LFN membership level
    # your project's twitter
    twitter: '@LF_Networking'
    # update if needed
    google_site_verification: u_xqWIf8_EzRP4UF92px16rTSoIP49D_g9i7M-4rXds
    ms_validate: 3AF9FFA12CCC3C49C0ABA71CCA222665
  # Category for members
  membership: LF Networking Members
  # Update for the categories where you won't be showing the open source license ( typically done for members or conformance program members )
  flags:
    hide_license_for_categories:
      - Linux Foundation Networking
    companies:
# Data for the twitter card
twitter:
  search: landscape.lfnetworking.org
  url: https://landscape.lfnetworking.org
  text: LFN Landscape
# Complete this section for identifying hosted projects of your project, along with member projects
relation:
  label: LFN Projects
  url: https://www.lfnetworking.org/
  values:
    - id: hosted
      label: TAC Projects
      # children to identify maturity levels ( incubation, active, etc ). If there aren't multiple levels, then just complete like below.
      ### Should I add all prois under the children tag - each with a sep "- id:" line??? I think this is showing examples of sep types of projects???
      children:
        - id: tacprojects
          label: TAC Projects
          prefix: TAC
          tag: TAC Project
          color: '#3570af'
          big_picture_order: 1
          big_picture_label: TAC Projects
          big_picture_color: rgb(24,54,114)
    - id: company
      label: LFN Companies
      tag: Company
      big_picture_order: 3
    - id: member
      lable: LFN Members
      tag: LFN Member
    - id: false
      lable: Non-LFN Members
      url: 'no'
# membership levels
membership:
  Platinum:
    name: LFN
    label: Platinum Member
    funding: Platinum
    is_large: true
  Gold:
    name: LFN
    label: Gold Member
    funding: Gold
  Silver:
    name: LFN
    label: Silver Member
    funding: Silver
  Associate:
    name: LFN
    label: Associate Member
    funding: Associate
  'false':
    funding: 'No'
home:
  # update to change the header text
  header: >
    <h1>Linux Foundation Networking Landscape</h1> The LFN Landscape (<a target="_blank" href="images/left-logo.svg">svg</a>, <a target="_blank"
    href="images/landscape.pdf">pdf</a>) is dynamically generated below. It is modeled after the <a href="http://landscape.cncf.io">CNCF landscape</a> and based
    on the same open source code.
  # don't change this
  footer: |
    Crunchbase data is used under license from Crunchbase to CNCF.
# ads for the landscape. Good opportunity to advertise your project events
ads:
  - url: https://events.linuxfoundation.org/kubecon-cloudnativecon-europe/?utm_source=ospo_landscape&utm_medium=web&utm_campaign=kccnceu20
    image: /images/info1.jpg
    title: Kubecon + CloudNativeCon Europe 2020
# preset searches
presets:
  - url: /format=card-mode&grouping=no&license=open-source&sort=first-commit
    label: Open source cards by age
  - url: /license=apache-license-2-0
    label: Apache-2.0 landscape
  - url: /format=card-mode&grouping=category
    label: Cards by stars
  - url: /format=card-mode&grouping=no&sort=amount
    label: Cards by MCap/Funding
# sets the rendering of the landscape
big_picture:
  # this is for the main page
  main:
    tab_index: -1
    url: landscape
    name: Landscape
    title: LFN Landscape
    fullscreen_header: See the interactive landscape at <yet to be defined>
    # add one element for each category in landscape.yml
    elements:
      - type: HorizontalCategory
        category: LF Networking Members
        rows: 30
        width: 970
        height: 800
        top: 0
        left: 0
        color: rgb(126,115,14)
        fit_width: true
      # this is a landscape info box; good idea to keep this one
      - type: LandscapeInfo
        width: 310
        height: 150
        top: 0
        left: 980
        children:
          - type: text
            text: |
              This landscape is intended as a map to explore the LFN community, and also shows the member organizations of the LFN Umbrella.
            top: 45
            left: 140
            right: 10
            font_size: 10
          - type: image
            image: qr.svg
            top: 10
            left: 20
            width: 90
            height: 90
            title: QR Code
          - type: title
            title: l.lfnetworking.org
            top: 95
            left: 10
            font_size: 18
          - type: image
            image: left-logo.svg
            width: 90
            right: 105
            top: 10
            title: Landscape Logo
          - type: image
            image: right-logo.svg
            width: 90
            right: 10
            top: 10
            title: LFN Logo
# test to make sure the build worked. Identify one landscape item that you know will always be there, preferably towards the top of the rendering
test:
  header: Linux Foundation Networking Landscape
  section: LF Networking Members
  logo: ericsson.svg
# if you have a common view, create a pre-render to speed the render time up
prerender:
  # good pre-render to always have; embedable member logo list for a website. Renders to /pages/members
  members: /card-mode?category=linux-foundation-networking-project-member-company&grouping=category&embed=yes&style=borderless
